In [117]:
import pandas as pd

In [118]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1370,tt0377818,50000000,110803676,The Dukes of Hazzard,Johnny Knoxville|Seann William Scott|Jessica S...,Jay Chandrasekhar,Cousins. Outlaws. Thrillbillies.,Bo and Luke Duke are southern cousins. In Hazz...,104,Action|Adventure|Comedy,Village Roadshow Pictures|Gerber Pictures|Warn...,8/5/2005,5.2,2005
1444,tt0482571,40000000,109676311,The Prestige,Hugh Jackman|Christian Bale|Michael Caine|Scar...,Christopher Nolan,Are You Watching Closely?,A mysterious story of two magicians whose inte...,130,Drama|Mystery|Thriller,Touchstone Pictures|Syncopy,10/19/2006,7.8,2006
534,tt0218817,30000000,17833000,AntiTrust,Ryan Phillippe|Rachael Leigh Cook|Tim Robbins|...,Peter Howitt,Truth can be dangerous...Trust can be deadly.,A computer programmer's dream job at a hot Por...,108,Action|Crime|Drama,Industry Entertainment|Epsilon Motion Pictures...,1/12/2001,5.6,2001
1252,tt1623205,200000000,491868548,Oz: The Great and Powerful,James Franco|Mila Kunis|Rachel Weisz|Michelle ...,Sam Raimi,"In Oz, nothing is what it seems","Oscar Diggs, a small-time circus illusionist a...",130,Fantasy|Adventure|Family,Walt Disney Pictures|Roth Films,3/7/2013,5.6,2013
1667,tt0361841,35000000,22034832,Little Black Book,Brittany Murphy|Holly Hunter|Kathy Bates|Ron L...,Nick Hurran,Have you ever been tempted to look inside his...,Determined to learn about her boyfriend's past...,111,Comedy|Romance|Drama,Revolution Studios|Blue Star Pictures,8/6/2004,5.2,2004

In [119]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [120]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [121]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data.revenue - data.budget
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360

In [122]:
genres_list = []

def fill_genres(row):
    genres = row['genres'].split('|')
    for g in genres:
        genres_list.append([row['imdb_id'], g])

data.apply(fill_genres, axis=1)
genres_df = pd.DataFrame(genres_list, columns=['imdb_id', 'genre'])
genres_df.head()

     imdb_id            genre
0  tt0369610           Action
1  tt0369610        Adventure
2  tt0369610  Science Fiction
3  tt0369610         Thriller
4  tt1392190           Action

In [123]:
director_list = []

def fill_directors(row):
    genres = row['director'].split('|')
    for g in genres:
        director_list.append([row['imdb_id'], g])

data.apply(fill_directors, axis=1)
directors_df = pd.DataFrame(director_list, columns=['imdb_id', 'director_1'])
directors_df.head()

     imdb_id        director_1
0  tt0369610   Colin Trevorrow
1  tt1392190     George Miller
2  tt2908446  Robert Schwentke
3  tt2488496       J.J. Abrams
4  tt2820852         James Wan

In [124]:
actor_list = []

def fill_actors(row):
    genres = row['cast'].split('|')
    for g in genres:
        actor_list.append([row['imdb_id'], g])

data.apply(fill_actors, axis=1)
actors_df = pd.DataFrame(actor_list, columns=['imdb_id', 'actor'])
actors_df.head()

     imdb_id                actor
0  tt0369610          Chris Pratt
1  tt0369610  Bryce Dallas Howard
2  tt0369610          Irrfan Khan
3  tt0369610    Vincent D'Onofrio
4  tt0369610        Nick Robinson

In [125]:
production_companies_list = []

def fill_production_companies(row):
    genres = row['production_companies'].split('|')
    for g in genres:
        production_companies_list.append([row['imdb_id'], g])

data.apply(fill_production_companies, axis=1)
production_companies_df = pd.DataFrame(production_companies_list, columns=['imdb_id', 'production_company'])
production_companies_df

        imdb_id                                 production_company
0     tt0369610                                  Universal Studios
1     tt0369610                               Amblin Entertainment
2     tt0369610                                 Legendary Pictures
3     tt0369610                            Fuji Television Network
4     tt0369610                                             Dentsu
...         ...                                                ...
6073  tt0162983                          Laurence Mark Productions
6074  tt0162983                      Columbia Pictures Corporation
6075  tt0162983  Global Entertainment Productions GmbH & Compan...
6076  tt0162983                            Nora Ephron Productions
6077  tt0163676                              Warner Bros. Pictures

[6078 rows x 2 columns]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [126]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"
# +

In [127]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [128]:
# можно добавлять разные варианты решения
data.query('budget == budget.max()')['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [129]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'
# +

In [130]:
data[data.runtime == data.runtime.max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [131]:
answers['3'] = 'Winnie the Pooh'
# +

In [132]:
data[data.runtime == data.runtime.min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [133]:
answers['4'] = '109.6585494970884'
# +

In [134]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [135]:
answers['5'] = '107'
# +

In [136]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [137]:
answers['6'] = 'Avatar'
# +

In [138]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [139]:
answers['7'] = 'The Lone Ranger'
# + странно что платформа выдает что ответ не правильный.

In [140]:
data[data.profit == data.profit.min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [141]:
answers['8'] = '1478'
# +

In [142]:
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [143]:
answers['9'] = 'The Dark Knight'
# +

In [144]:
films_2008 = data[data.release_year == 2008]
films_2008[films_2008.profit == films_2008.profit.max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [145]:
answers['10'] = 'The Lone Ranger'
# +

In [146]:
films_2012_to_2014 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
films_2012_to_2014[films_2012_to_2014.profit == films_2012_to_2014.profit.min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [147]:
answers['11'] = 'Drama'
# +

In [148]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
g_count = genres_df.groupby('genre')['genre'].count()
g_count[g_count == max(g_count)]

genre
Drama    782
Name: genre, dtype: int64

ВАРИАНТ 2

In [149]:
genres_df.describe()

          imdb_id  genre
count        5107   5107
unique       1889     19
top     tt0287978  Drama
freq            5    782

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [150]:
answers['12'] = 'Drama'
# +

In [151]:
c_count = genres_df.merge(data[data.profit > 0], on='imdb_id').groupby('genre')['profit'].count()
c_count[c_count == max(c_count)]

genre
Drama    560
Name: profit, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [152]:
answers['13'] = 'Peter Jackson'
# +

In [153]:
profit_agg = data.groupby('director')['profit'].sum()
profit_agg[profit_agg == max(profit_agg)]

director
Peter Jackson    5202593685
Name: profit, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [154]:
answers['14'] = 'Robert Rodriguez'
# +

In [155]:
df = directors_df.merge(genres_df.merge(data, on='imdb_id'), on='imdb_id')
dir_count = df[df.genre == 'Action'].groupby('director_1')['director_1'].count()
dir_count[dir_count == max(dir_count)]

director_1
Robert Rodriguez    9
Name: director_1, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [156]:
answers['15'] = 'Chris Hemsworth'
# +

In [157]:
df_2012 = data[data.release_year == 2012]
df_2012_max = df_2012[df_2012.revenue == max(df_2012.revenue)]
df = actors_df.merge(df_2012_max, on='imdb_id')
df['actor']

0     Robert Downey Jr.
1           Chris Evans
2          Mark Ruffalo
3       Chris Hemsworth
4    Scarlett Johansson
Name: actor, dtype: object

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [158]:
answers['16'] = 'Matt Damon'
# +

In [159]:
budget_mean = data.budget.mean()
actor_count = actors_df.merge(data[data.budget > budget_mean], on='imdb_id')\
    .groupby('actor')['actor'].count()
actor_count[actor_count == max(actor_count)]

actor
Matt Damon    18
Name: actor, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [160]:
answers['17'] = 'Action'
# +

In [161]:
df_actors = actors_df.merge(data, on='imdb_id')
df_actors[df_actors['actor'] == 'Nicolas Cage']\
    .merge(genres_df, on='imdb_id')\
    .groupby('genre')['genre'].count()

genre
Action             17
Adventure           7
Animation           3
Comedy              6
Crime              10
Drama              12
Family              3
Fantasy             8
History             2
Horror              1
Mystery             3
Romance             1
Science Fiction     4
Thriller           15
War                 1
Name: genre, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [162]:
answers['18'] = 'K-19: The Widowmaker'
# +

In [163]:
df_pr_c = production_companies_df.merge(data, on='imdb_id')
df_pp = df_pr_c[df_pr_c['production_company'] == 'Paramount Pictures']
df_pp[df_pp['profit'] == min(df_pp['profit'])]['original_title']

2998    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [164]:
answers['19'] = '2015'
# +

In [165]:
sum_year = data.groupby('release_year')['revenue'].sum()
sum_year[sum_year == max(sum_year)]

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [166]:
answers['20'] = '2014'
# +

In [167]:
wb_column = data.production_companies.apply(lambda x: True if 'Warner Bros' in x else False)
data['Warner Bros'] = wb_column
wb_df = data[data['Warner Bros'] == True]
wb_years = wb_df.groupby('release_year')['profit'].sum()
wb_years[wb_years == max(wb_years)]

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [168]:
answers['21'] = 'Сентябрь'
# +

In [169]:
months = data.release_date.apply(lambda x: int(str(x).split('/')[0]))
data['release_month'] = months
months_count = data.groupby('release_month')['release_month'].count()
months_count[months_count == max(months_count)]

release_month
9    227
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [170]:
answers['22'] = '450'
# +

In [171]:
months = data.release_date.apply(lambda x: int(str(x).split('/')[0]))
data['release_month'] = months
months_count = data[(data['release_month'] >= 6) & (data['release_month'] <= 8)].groupby('release_month')['release_month'].count()
sum(months_count)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [172]:
answers['23'] = 'Peter Jackson'
# +

In [173]:
months = data.release_date.apply(lambda x: int(str(x).split('/')[0]))
data['release_month'] = months
winter = data[(data['release_month'] >= 12) | (data['release_month'] <= 2)]
df = directors_df.merge(winter, on='imdb_id')
dir_count = df.groupby('director_1')['director_1'].count()
dir_count[dir_count == max(dir_count)]

director_1
Peter Jackson    7
Name: director_1, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [174]:
answers['24'] = 'Four By Two Productions'
# +

In [175]:
len_title = data['original_title'].apply(lambda x: len(x))
data['len_title'] = len_title
max_title = max(len_title)
comp_max_title = data[data['len_title'] == max_title]['production_companies']

In [176]:
comp_max_title

1448    Twentieth Century Fox Film Corporation|Four By...
Name: production_companies, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [177]:
answers['25'] = 'Midnight Picture Show'
# +

In [178]:
count_words = data['overview'].apply(lambda x: len(str(x).split()))
data['count_words'] = count_words
max_words = max(count_words)
data[data['count_words'] == max_words]['production_companies']

711    Lions Gate Films|Lakeshore Entertainment|Green...
Name: production_companies, dtype: object

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [179]:
answers['26'] = 'The Dark Knight,Interstellar,The Imitation Game,Inside Out,Room,The Wolf of Wall Street,Gone Girl,12 Years a Slave'
# +

In [180]:
#vote_average
one_percent_films = int(len(data) / 100)
data.sort_values('vote_average', ascending=False).head(8)['original_title']

599             The Dark Knight
118                Interstellar
125          The Imitation Game
9                    Inside Out
34                         Room
1183    The Wolf of Wall Street
128                   Gone Girl
1191           12 Years a Slave
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [181]:
answers['27'] = 'Daniel Radcliffe,Emma Watson'
# +

In [182]:
actors = data['cast'].apply(lambda x: sorted(str(x).split('|')))
actors

0       [Bryce Dallas Howard, Chris Pratt, Irrfan Khan...
1       [Charlize Theron, Hugh Keays-Byrne, Josh Helma...
2       [Ansel Elgort, Kate Winslet, Miles Teller, Sha...
3       [Adam Driver, Carrie Fisher, Daisy Ridley, Har...
4       [Dwayne Johnson, Jason Statham, Michelle Rodri...
                              ...
1884    [Famke Janssen, Halle Berry, Hugh Jackman, Ian...
1885    [Alice Krige, Jim Carter, Jonathan Lipnicki, P...
1886    [Jason Alexander, Piper Perabo, Randy Quaid, R...
1887    [Adam Arkin, Diane Keaton, Lisa Kudrow, Meg Ry...
1888    [Lori Heuring, Matthew Settle, Nathan Bexton, ...
Name: cast, Length: 1889, dtype: object

In [183]:
import itertools

def join_sort(x):
    local_list = list()
    local_list.append(x[0])
    local_list.append(x[1])
    local_list = sorted(local_list)
    return local_list[0] + ',' + local_list[1]

all_actors = list()
for actors_in_film in actors:
    pairs = list(itertools.permutations(actors_in_film, 2))
    all_actors.extend(pairs)
act_df = pd.DataFrame(all_actors)
act_df['pairs'] = act_df.apply(join_sort, axis=1)
act_df.describe()

                        0                  1                         pairs
count               37736              37736                         37736
unique               3406               3406                         17943
top     Samuel L. Jackson  Samuel L. Jackson  Daniel Radcliffe,Emma Watson
freq                  108                108                            16

In [184]:
act_df

,0,1,pairs
0,Bryce Dallas Howard,Chris Pratt,"Bryce Dallas Howard,Chris Pratt"
1,Bryce Dallas Howard,Irrfan Khan,"Bryce Dallas Howard,Irrfan Khan"
2,Bryce Dallas Howard,Nick Robinson,"Bryce Dallas Howard,Nick Robinson"
3,Bryce Dallas Howard,Vincent D'Onofrio,"Bryce Dallas Howard,Vincent D'Onofrio"
4,Chris Pratt,Bryce Dallas Howard,"Bryce Dallas Howard,Chris Pratt"
...,...,...,...
37731,Susan Ward,Tess Harper,"Susan Ward,Tess Harper"
37732,Tess Harper,Lori Heuring,"Lori Heuring,Tess Harper"
37733,Tess Harper,Matthew Settle,"Matthew Settle,Tess Harper"
37734,Tess Harper,Nathan Bexton,"Nathan Bexton,Tess Harper"
37735,Tess Harper,Susan Ward,"Susan Ward,Tess Harper"

ВАРИАНТ 2

# Submission

In [185]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '109.6585494970884',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight,Interstellar,The Imitation Game,Inside Out,Room,The Wolf of Wall Street,Gone Girl,12 Years a Slave',
 '27': 'Daniel Radcliffe,Emma Watson'}

In [186]:
# и убедиться что ни чего не пропустил)
len(answers)

27