# Загрузка Pandas и очистка данных

In [231]:
import pandas as pd

In [232]:
df = pd.read_csv('main_task.csv')

In [233]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [234]:
df.head()

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963

In [235]:
df.isna().sum()

Restaurant_id            0
City                     0
Cuisine Style         9283
Ranking                  0
Rating                   0
Price Range          13886
Number of Reviews     2543
Reviews                  0
URL_TA                   0
ID_TA                    0
dtype: int64

In [236]:
# проверим что все id начинаются с d
ids = df[df['ID_TA'].str.contains('d')]['ID_TA']
len(ids) == len(df)

True

In [237]:
# оставим только числовую часть
df['ID_TA'] = df['ID_TA'].apply(lambda x: int(x.replace('d', '')))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  int64
dtypes: float64(3), int64(1), object(6)
memory usage: 3.1+ MB

In [238]:
ids = df[df['Restaurant_id'].str.contains('id_')]['Restaurant_id']
len(ids) == len(df)

True

In [239]:
# оставим только числовую часть
df['Restaurant_id'] = df['Restaurant_id'].apply(lambda x: int(x.replace('id_', '')))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  int64
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  int64
dtypes: float64(3), int64(2), object(5)
memory usage: 3.1+ MB

In [240]:
df = df.drop(columns=['URL_TA'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  int64
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   ID_TA              40000 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 2.7+ MB

In [241]:
sorted(df['City'].unique())

['Amsterdam',
 'Athens',
 'Barcelona',
 'Berlin',
 'Bratislava',
 'Brussels',
 'Budapest',
 'Copenhagen',
 'Dublin',
 'Edinburgh',
 'Geneva',
 'Hamburg',
 'Helsinki',
 'Krakow',
 'Lisbon',
 'Ljubljana',
 'London',
 'Luxembourg',
 'Lyon',
 'Madrid',
 'Milan',
 'Munich',
 'Oporto',
 'Oslo',
 'Paris',
 'Prague',
 'Rome',
 'Stockholm',
 'Vienna',
 'Warsaw',
 'Zurich']

In [242]:
len(df['City'].unique())

31

In [243]:
df = pd.get_dummies(df, columns=['City'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  int64
 1   Cuisine Style      30717 non-null  object
 2   Ranking            40000 non-null  float64
 3   Rating             40000 non-null  float64
 4   Price Range        26114 non-null  object
 5   Number of Reviews  37457 non-null  float64
 6   Reviews            40000 non-null  object
 7   ID_TA              40000 non-null  int64
 8   City_Amsterdam     40000 non-null  uint8
 9   City_Athens        40000 non-null  uint8
 10  City_Barcelona     40000 non-null  uint8
 11  City_Berlin        40000 non-null  uint8
 12  City_Bratislava    40000 non-null  uint8
 13  City_Brussels      40000 non-null  uint8
 14  City_Budapest      40000 non-null  uint8
 15  City_Copenhagen    40000 non-null  uint8
 16  City_Dublin        40000 non-null  uint8
 17  City_Edinburgh     40000 non-null  uint8
 18  City_Geneva        40000 non-null  uint8
 19  City_Hamburg       40000 non-null  uint8
 20  City_Helsinki      40000 non-null  uint8
 21  City_Krakow        40000 non-null  uint8
 22  City_Lisbon        40000 non-null  uint8
 23  City_Ljubljana     40000 non-null  uint8
 24  City_London        40000 non-null  uint8
 25  City_Luxembourg    40000 non-null  uint8
 26  City_Lyon          40000 non-null  uint8
 27  City_Madrid        40000 non-null  uint8
 28  City_Milan         40000 non-null  uint8
 29  City_Munich        40000 non-null  uint8
 30  City_Oporto        40000 non-null  uint8
 31  City_Oslo          40000 non-null  uint8
 32  City_Paris         40000 non-null  uint8
 33  City_Prague        40000 non-null  uint8
 34  City_Rome          40000 non-null  uint8
 35  City_Stockholm     40000 non-null  uint8
 36  City_Vienna        40000 non-null  uint8
 37  City_Warsaw        40000 non-null  uint8
 38  City_Zurich        40000 non-null  uint8
dtypes: float64(3), int64(2), object(3), uint8(31)
memory usage: 3.6+ MB

In [244]:
cuisines_as_list = df['Cuisine Style']\
    .apply(lambda x: str(x).replace('[', '')
           .replace(']', '').replace("'", '')
           .replace(" ", '').replace('nan', ''))\
    .apply(lambda x: list(set(x.split(','))))
cuisines_as_list

0                        [International, French, European]
1                                                       []
2        [GlutenFreeOptions, Japanese, Asian, VeganOpti...
3                                                       []
4            [German, VegetarianFriendly, CentralEuropean]
                               ...
39995    [Italian, VegetarianFriendly, GlutenFreeOption...
39996    [French, Bar, American, VegetarianFriendly, Eu...
39997                                    [Sushi, Japanese]
39998    [CentralEuropean, EasternEuropean, VegetarianF...
39999                                            [Spanish]
Name: Cuisine Style, Length: 40000, dtype: object

In [245]:
df['Cuisine Style'] = cuisines_as_list
df.head().T

,0,1,2,3,4
Restaurant_id,5569,1535,352,3456,615
Cuisine Style,"[International, French, European]",[],"[GlutenFreeOptions, Japanese, Asian, VeganOpti...",[],"[German, VegetarianFriendly, CentralEuropean]"
Ranking,5570,1537,353,3458,621
Rating,3.5,4,4.5,5,4
Price Range,$$ - $$$,NaN,$$$$,NaN,$$ - $$$
Number of Reviews,194,10,688,3,84
Reviews,"[['Good food at your doorstep', 'A good hotel ...","[['Unique cuisine', 'Delicious Nepalese food']...","[['Catch up with friends', 'Not exceptional'],...","[[], []]","[['Best place to try a Bavarian food', 'Nice b..."
ID_TA,1912643,7992032,8632781,1358776,6864963
City_Amsterdam,0,0,0,0,0
City_Athens,0,0,0,0,0
City_Barcelona,0,0,0,0,0
City_Berlin,0,0,0,1,0
City_Bratislava,0,0,0,0,0
City_Brussels,0,0,0,0,0
City_Budapest,0,0,0,0,0
City_Copenhagen,0,0,0,0,0
City_Dublin,0,0,0,0,0
City_Edinburgh,0,0,0,0,0
City_Geneva,0,0,0,0,0
City_Hamburg,0,0,0,0,0
City_Helsinki,0,0,0,0,0
City_Krakow,0,0,0,0,0
City_Lisbon,0,0,0,0,0
City_Ljubljana,0,0,0,0,0
City_London,0,0,1,0,0
City_Luxembourg,0,0,0,0,0
City_Lyon,0,0,0,0,0
City_Madrid,0,0,0,0,0
City_Milan,0,0,0,0,0
City_Munich,0,0,0,0,1
City_Oporto,0,0,0,0,0
City_Oslo,0,0,0,0,0
City_Paris,1,0,0,0,0
City_Prague,0,0,0,0,0
City_Rome,0,0,0,0,0
City_Stockholm,0,1,0,0,0
City_Vienna,0,0,0,0,0
City_Warsaw,0,0,0,0,0
City_Zurich,0,0,0,0,0

In [246]:
cuisines = pd.get_dummies(cuisines_as_list.apply(pd.Series).stack()).sum(level=0)
cuisines

,,Afghani,African,Albanian,American,Arabic,Argentinean,Armenian,Asian,Australian,...,Ukrainian,Uzbek,VeganOptions,VegetarianFriendly,Venezuelan,Vietnamese,Welsh,WineBar,Xinjiang,Yun
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,1,1,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
39996,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
39997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
39999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [247]:
cuisines.head()

,,Afghani,African,Albanian,American,Arabic,Argentinean,Armenian,Asian,Australian,...,Ukrainian,Uzbek,VeganOptions,VegetarianFriendly,Venezuelan,Vietnamese,Welsh,WineBar,Xinjiang,Yun
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,1,1,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [248]:
#Какое среднее количество кухонь предлагается в одном ресторане?
sum(cuisines.mean())

2.622399999999999

In [249]:
#Какая кухня представлена в наибольшем количестве ресторанов? Введите название кухни без кавычек или апострофов.
c_sum = cuisines.apply(lambda x: sum(x))
c_sum[c_sum == max(c_sum)]

VegetarianFriendly    11189
dtype: int64

In [250]:
df = pd.concat([df, cuisines], axis=1)
df = df.drop(columns=['Cuisine Style'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Columns: 164 entries, Restaurant_id to Yun
dtypes: float64(3), int64(2), object(2), uint8(157)
memory usage: 8.1+ MB

In [251]:
list(df.columns)

['Restaurant_id',
 'Ranking',
 'Rating',
 'Price Range',
 'Number of Reviews',
 'Reviews',
 'ID_TA',
 'City_Amsterdam',
 'City_Athens',
 'City_Barcelona',
 'City_Berlin',
 'City_Bratislava',
 'City_Brussels',
 'City_Budapest',
 'City_Copenhagen',
 'City_Dublin',
 'City_Edinburgh',
 'City_Geneva',
 'City_Hamburg',
 'City_Helsinki',
 'City_Krakow',
 'City_Lisbon',
 'City_Ljubljana',
 'City_London',
 'City_Luxembourg',
 'City_Lyon',
 'City_Madrid',
 'City_Milan',
 'City_Munich',
 'City_Oporto',
 'City_Oslo',
 'City_Paris',
 'City_Prague',
 'City_Rome',
 'City_Stockholm',
 'City_Vienna',
 'City_Warsaw',
 'City_Zurich',
 '',
 'Afghani',
 'African',
 'Albanian',
 'American',
 'Arabic',
 'Argentinean',
 'Armenian',
 'Asian',
 'Australian',
 'Austrian',
 'Azerbaijani',
 'Balti',
 'Bangladeshi',
 'Bar',
 'Barbecue',
 'Belgian',
 'Brazilian',
 'BrewPub',
 'British',
 'Burmese',
 'Cafe',
 'Cajun&Creole',
 'Cambodian',
 'Canadian',
 'Caribbean',
 'Caucasian',
 'CentralAmerican',
 'CentralAsian',
 'CentralEuropean',
 'Chilean',
 'Chinese',
 'Colombian',
 'Contemporary',
 'Croatian',
 'Cuban',
 'Czech',
 'Danish',
 'Delicatessen',
 'Diner',
 'Dutch',
 'EasternEuropean',
 'Ecuadorean',
 'Egyptian',
 'Ethiopian',
 'European',
 'FastFood',
 'Filipino',
 'French',
 'Fujian',
 'Fusion',
 'Gastropub',
 'Georgian',
 'German',
 'GlutenFreeOptions',
 'Greek',
 'Grill',
 'Halal',
 'Hawaiian',
 'Healthy',
 'Hungarian',
 'Indian',
 'Indonesian',
 'International',
 'Irish',
 'Israeli',
 'Italian',
 'Jamaican',
 'Japanese',
 'Korean',
 'Kosher',
 'Latin',
 'Latvian',
 'Lebanese',
 'Malaysian',
 'Mediterranean',
 'Mexican',
 'MiddleEastern',
 'MinorityChinese',
 'Mongolian',
 'Moroccan',
 'NativeAmerican',
 'Nepali',
 'NewZealand',
 'Norwegian',
 'Pakistani',
 'Persian',
 'Peruvian',
 'Pizza',
 'Polish',
 'Polynesian',
 'Portuguese',
 'Pub',
 'Romanian',
 'Russian',
 'Salvadoran',
 'Scandinavian',
 'Scottish',
 'Seafood',
 'Singaporean',
 'Slovenian',
 'Soups',
 'SouthAmerican',
 'Southwestern',
 'Spanish',
 'SriLankan',
 'Steakhouse',
 'StreetFood',
 'Sushi',
 'Swedish',
 'Swiss',
 'Taiwanese',
 'Thai',
 'Tibetan',
 'Tunisian',
 'Turkish',
 'Ukrainian',
 'Uzbek',
 'VeganOptions',
 'VegetarianFriendly',
 'Venezuelan',
 'Vietnamese',
 'Welsh',
 'WineBar',
 'Xinjiang',
 'Yun']

In [252]:
df['Price Range'].unique()

array(['$$ - $$$', nan, '$$$$', '$'], dtype=object)

In [253]:
df[df['Price Range'] == '$$ - $$$']['Price Range']

0        $$ - $$$
4        $$ - $$$
11       $$ - $$$
12       $$ - $$$
13       $$ - $$$
           ...
39994    $$ - $$$
39995    $$ - $$$
39996    $$ - $$$
39998    $$ - $$$
39999    $$ - $$$
Name: Price Range, Length: 18412, dtype: object

In [254]:
df['Number of Reviews'] = df['Number of Reviews'].fillna(0)

In [255]:
df['Reviews'].unique()

array(["[['Good food at your doorstep', 'A good hotel restaurant'], ['12/31/2017', '11/20/2017']]",
       "[['Unique cuisine', 'Delicious Nepalese food'], ['07/06/2017', '06/19/2016']]",
       "[['Catch up with friends', 'Not exceptional'], ['01/08/2018', '01/06/2018']]",
       ...,
       "[['Good by swedish standards', 'A hidden jewel in the middle of Västertorp...'], ['11/03/2016', '04/12/2008']]",
       "[['Underground restaurant', 'Oldest Restaurant in Warsaw'], ['07/11/2017', '06/18/2017']]",
       "[['Average', 'Nice an informal'], ['01/31/2016', '07/04/2012']]"],
      dtype=object)

In [256]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Columns: 164 entries, Restaurant_id to Yun
dtypes: float64(3), int64(2), object(2), uint8(157)
memory usage: 8.1+ MB

In [257]:
df = df.drop(columns=['Price Range', 'Reviews'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Columns: 162 entries, Restaurant_id to Yun
dtypes: float64(3), int64(2), uint8(157)
memory usage: 7.5 MB

In [258]:
# Ваш код по очистке данных и генерации новых признаков
# При необходимости добавьте ячейки

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [259]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df['Rating']

In [260]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [261]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [262]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [263]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [264]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))


#0.21492199999999997

MAE: 0.21686999999999998